h1{color:khaki;}
        img{width: 400px;}
div.thirdDiv{height: 600px; width: 500px; background-color: beige; padding: 50px;border-style: dotted; border-color: blueviolet;border-radius: 50px; border-width: 5px;}
div.divClass{font-size: 18px; margin: 50px;}
body{background-color: darkgray; margin: 100px;}